$white-color: #fff;
$black-color: #000;
$home-color: #c19d60;
$about-color: #f2eee8;
$pink-color: #ecbda0;
$orange-color: #c25a00;
$text-color: #1b1b1b;
$grey-color: #777777;
$blue-color: #b7f0dc;
$green-color: #006870;
$font-libre: "Libre Caslon Display", serif;
$font-noto: "Noah", sans-serif;
$font-pinyon: "Pinyon Script", cursive;
